.main {
  background-image: url("../../assets/technology/background-technology-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
