.main {
  background-image: url("../../assets/technology/background-technology-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.tech__container {
  padding-top: 12rem;
}

.tech__container > h5 {
  font-size: var(--heading-five);
  letter-spacing: 4.72px;
}
.tech__container > h5 > span {
  font-weight: bold;
  color: #979797;
}

.tech__navBox {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 150px auto;
  /* gap: 2.5rem; */
}

.tech__navBox .navBar {
  align-self: center;
}

.navBar {
  justify-self: end;
}

.navBar > ul > li {
  margin: 3rem 0;
}

.navBar > ul > li > a {
  font-size: var(--heading-four);
  font-family: var(--belle-fair-font);
  padding: 10px 1.3rem;
  border: 1px solid #979797;
  color: var(--white);
  border-radius: 50%;
  transition: background-color 0.5s ease-in-out;
}

.navBar > ul > li > a:hover,
.navBar > ul > li > a.active {
  background-color: var(--white);
  color: var(--dark-blue);
}

.tech__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3rem;
}

.tech__item1 {
  justify-self: end;
  align-self: center;
}

.tech__item1 > h6 {
  font-size: 16px;
  letter-spacing: 2.7px;
}

.tech__item1 > h3 {
  font-size: 40px;
  font-family: var(--belle-fair-font);
  text-transform: uppercase;
}

.tech__item1 > p {
  font-size: 18px;
  line-height: 1.7;
  max-width: 440px;
}

.tech__item2 {
  justify-self: end;
}

.tech__img2 {
  display: none;
}

@media (max-width: 768px) {
  .main {
    background-image: url("../../assets/technology/background-technology-tablet.jpg");
  }
  .tech__navBox {
    /* grid-template-columns: 1fr; */
    display: flex;
    flex-direction: column-reverse;
  }

  .tech__img1 {
    display: none;
  }

  .tech__img2 {
    display: block;
  }

  .navBar > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .tech__items {
    /* grid-template-columns: 1fr;
    text-align: center;
    padding-bottom: 3rem; */
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }

  .tech__item1 > h3 {
    padding: 1rem 0 1rem;
  }

  .tech__item1 > p {
    text-align: center;
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .tech__item1 > h3 {
    font-size: var(--heading-three);
  }
}

@media (max-width: 425px) {
  .main {
    background-image: url("../../assets/technology/background-technology-mobile.jpg");
  }

  .tech__container > h5 {
    font-size: 16px;
    text-align: center;
  }

  .tech__item1 > p {
    max-width: 350px;
  }
}
