header {
  padding-top: 3rem;
  padding-left: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
}

.right__items {
  display: flex;
  align-items: center;
  position: relative;
}

.horizontal {
  width: 400px;
  height: 1px;
  background: #979797;
  position: relative;
  right: -1%;
  z-index: 10;
}

.nav {
  backdrop-filter: blur(90px);
  background: hsla(0, 0%, 100%, 0.04);
}

.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 8rem;
  column-gap: 2rem;
}

.nav > ul > li {
  box-sizing: border-box;
  padding: 2rem 0;
  border-bottom: 2px solid transparent;
}

.nav > ul > li.active__li {
  border-color: white;
}

.nav > ul > li > a {
  padding: 2rem 0;
  color: var(--white);
  letter-spacing: 2.7px;
  transition: border 0.3s ease-in;
  border-bottom: 2px solid transparent;
}

.nav > ul > li > a:hover {
  border-color: #979797;
}

.nav > ul > li > a.active {
  border-color: white;
}

.menu__bar {
  display: none;
}

@media (min-width: 1600px) {
  .horizontal {
    width: 600px;
  }
}

@media (max-width: 1291px) {
  .horizontal {
    display: none;
  }
}

@media (max-width: 930px) {
  header {
    padding-left: 3rem;
  }
}

@media (max-width: 768px) {
  header {
    padding-top: 1.8rem;
  }
  .right__items {
    display: none;
  }

  .menu__bar {
    display: block;
    padding-right: 3rem;
  }
}
