.main {
  background-image: url("../../assets/crew/background-crew-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .main {
    background-image: url("../../assets/crew/background-crew-tablet.jpg");
  }
}
@media (max-width: 425px) {
  .main {
    background-image: url("../../assets/crew/background-crew-mobile.jpg");
  }
}
